.review-box-container {
  line-height: 1.4;
  background-color: #2b2b2b;
  border-radius: .375rem;
  padding: 2rem;
  margin: 20px 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;
}

.review-author-img {
  flex: 0 0 70px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.review-author-info {
  flex: 0 0 150px;
  width: 150px;
}

.review-author-id {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: .3rem;
  word-wrap: break-word;
  white-space: normal;
}

.review-created-at {
  font-size: .9rem;
  color: #c8c8c8;
}

.review-author-content {
  flex: 1 1 auto;
  max-width: 100%;
  box-sizing: border-box;
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: normal;
}

.review-author-rating {
  flex: 0 0 auto;
}

.review-rating {
  display: flex;
  align-items: center;
}

.star-whole-wrapper {
  height: 1em;
  line-height: 1em;
}

.star-wrapper {
  position: relative;
  display: inline-block;
  font-size: 1em;
  width: 1em;
  height: 1em;
}

.star-wrapper .star-icon {
  position: absolute;
  left: 0;
  top: 0;
}

.star-icon.full {
  color: gold;
}

.star-icon.empty {
  color: gray;
}

.star-icon.half {
  position: absolute;
  top: 0;
  left: 0;
  color: gold;
  z-index: 2;
  clip-path: inset(0 50% 0 0);
}

.reiview-rating-score {
  margin-left: 7px;
  line-height: 1em;
  vertical-align: middle;
}

.read-more-btn-review {
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  top: -1px;
  cursor: pointer;
  color: #868686;
  transition: all .3s;
  margin-top: 5px;
}

.read-more-btn-review:hover {
  color: #cacaca;
}

.read-more-btn-arrow {
  font-size: .88rem;
  margin-right: 3px;
}




/********** 1. 작은 태블릿 및 대형 스마트폰 **********/
@media (max-width: 767px) {
  .review-box-container {
    gap: .5rem;
    padding: 1rem;
    margin: 15px 0;
    flex-wrap: wrap;
    align-items: center;
  }

  .review-author-img {
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .review-author-info {
    flex: 1 0 auto;
  }

  .review-author-id {
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  .review-author-rating {
    order: 3;
    flex: 0 0 100%;
    margin-top: 7px;
  }

  .star-wrapper {
    font-size: .9em;
    line-height: .9em;
    width: .9em;
    height: .9em;
  }

  .star-wrapper + .star-wrapper {
    margin-left: 3px;
  }
  
  .reiview-rating-score {
    margin-left: 7px;
  }

  .review-author-content {
    order: 4;
    flex: 0 0 100%;
    font-size: .875rem;
    margin-top: .2rem;
  }
  
  .read-more-btn-review,
  .read-more-btn-arrow {
    font-size: .875rem;
  }

  .read-more-btn-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
  }

  .read-more-btn-review > .read-more-btn-arrow {
    order: 2;
    margin-right: 0;
  }

  .review-created-at {
    font-size: .8rem;
    margin-top: 3px;
  }
}

/********** 2. 태블릿 **********/
@media (min-width: 768px) and (max-width: 991px) {
  .review-box-container {
    gap: 1rem;
  }
}

/********** 3. 작은 노트북 및 데스크탑 **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .review-box-container {
    gap: 2rem;
  }
}